<html>
<head>
<title>content_main.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.ln { color: rgb(0,0,0); font-weight: normal; font-style: normal; }
.s0 { font-style: italic; }
.s1 { color: rgb(0,0,255); font-weight: bold; }
.s2 { }
.s3 { color: rgb(0,128,0); font-weight: bold; }
.s4 { color: rgb(0,0,128); font-weight: bold; }
</style>
</head>
<BODY BGCOLOR="#ffffff">
<TABLE CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#C0C0C0" >
<TR><TD><CENTER>
<FONT FACE="Arial, Helvetica" COLOR="#000000">
content_main.xml</FONT>
</center></TD></TR></TABLE>
<pre>

<span class="s0">&lt;?</span><span class="s1">xml version=</span><span class="s3">&quot;1.0&quot; </span><span class="s1">encoding=</span><span class="s3">&quot;utf-8&quot;</span><span class="s0">?&gt;</span><span class="s2"> 
&lt;</span><span class="s4">RelativeLayout </span><span class="s1">xmlns:android=</span><span class="s3">&quot;http://schemas.android.com/apk/res/android&quot;</span><span class="s2"> 
    </span><span class="s1">xmlns:tools=</span><span class="s3">&quot;http://schemas.android.com/tools&quot;</span><span class="s2"> 
    </span><span class="s1">xmlns:app=</span><span class="s3">&quot;http://schemas.android.com/apk/res-auto&quot; </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
    </span><span class="s1">android:layout_height=</span><span class="s3">&quot;match_parent&quot; </span><span class="s1">android:paddingLeft=</span><span class="s3">&quot;@dimen/activity_horizontal_margin&quot;</span><span class="s2"> 
    </span><span class="s1">android:paddingRight=</span><span class="s3">&quot;@dimen/activity_horizontal_margin&quot;</span><span class="s2"> 
    </span><span class="s1">android:paddingTop=</span><span class="s3">&quot;@dimen/activity_vertical_margin&quot;</span><span class="s2"> 
    </span><span class="s1">android:paddingBottom=</span><span class="s3">&quot;@dimen/activity_vertical_margin&quot;</span><span class="s2"> 
    </span><span class="s1">app:layout_behavior=</span><span class="s3">&quot;@string/appbar_scrolling_view_behavior&quot;</span><span class="s2"> 
    </span><span class="s1">tools:showIn=</span><span class="s3">&quot;@layout/activity_main&quot; </span><span class="s1">tools:context=</span><span class="s3">&quot;.MainActivity&quot;</span><span class="s2"> 
    </span><span class="s1">android:background=</span><span class="s3">&quot;#9bf7e5&quot;</span><span class="s2">&gt; 
 
    &lt;</span><span class="s4">Button</span><span class="s2"> 
        </span><span class="s1">style=</span><span class="s3">&quot;?android:attr/buttonStyleSmall&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
        </span><span class="s1">android:text=</span><span class="s3">&quot;@string/buttonOne&quot;</span><span class="s2"> 
        </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/button1&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_alignTop=</span><span class="s3">&quot;@+id/button2&quot;</span><span class="s2"> 
        </span><span class="s1">android:minWidth=</span><span class="s3">&quot;90dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:background=</span><span class="s3">&quot;#e50808&quot; </span><span class="s2">/&gt; 
 
    &lt;</span><span class="s4">Button</span><span class="s2"> 
        </span><span class="s1">style=</span><span class="s3">&quot;?android:attr/buttonStyleSmall&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
        </span><span class="s1">android:text=</span><span class="s3">&quot;@string/buttonTwo&quot;</span><span class="s2"> 
        </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/button2&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_alignParentTop=</span><span class="s3">&quot;true&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_centerHorizontal=</span><span class="s3">&quot;true&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_marginTop=</span><span class="s3">&quot;172dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:minWidth=</span><span class="s3">&quot;90dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:background=</span><span class="s3">&quot;#e50808&quot; </span><span class="s2">/&gt; 
 
    &lt;</span><span class="s4">Button</span><span class="s2"> 
        </span><span class="s1">style=</span><span class="s3">&quot;?android:attr/buttonStyleSmall&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
        </span><span class="s1">android:text=</span><span class="s3">&quot;@string/buttonThree&quot;</span><span class="s2"> 
        </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/button3&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_alignTop=</span><span class="s3">&quot;@+id/button2&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_toRightOf=</span><span class="s3">&quot;@+id/button2&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_toEndOf=</span><span class="s3">&quot;@+id/button2&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_marginLeft=</span><span class="s3">&quot;52dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_marginStart=</span><span class="s3">&quot;52dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:minWidth=</span><span class="s3">&quot;90dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:background=</span><span class="s3">&quot;#e50808&quot; </span><span class="s2">/&gt; 
 
    &lt;</span><span class="s4">Button</span><span class="s2"> 
        </span><span class="s1">style=</span><span class="s3">&quot;?android:attr/buttonStyleSmall&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
        </span><span class="s1">android:text=</span><span class="s3">&quot;@string/buttonFour&quot;</span><span class="s2"> 
        </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/button4&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_below=</span><span class="s3">&quot;@+id/button1&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_alignLeft=</span><span class="s3">&quot;@+id/button1&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_alignStart=</span><span class="s3">&quot;@+id/button1&quot;</span><span class="s2"> 
        </span><span class="s1">android:minWidth=</span><span class="s3">&quot;90dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:background=</span><span class="s3">&quot;#e50808&quot; </span><span class="s2">/&gt; 
 
    &lt;</span><span class="s4">Button</span><span class="s2"> 
        </span><span class="s1">style=</span><span class="s3">&quot;?android:attr/buttonStyleSmall&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
        </span><span class="s1">android:text=</span><span class="s3">&quot;@string/buttonFive&quot;</span><span class="s2"> 
        </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/button5&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_alignTop=</span><span class="s3">&quot;@+id/button4&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_centerHorizontal=</span><span class="s3">&quot;true&quot;</span><span class="s2"> 
        </span><span class="s1">android:minWidth=</span><span class="s3">&quot;90dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:background=</span><span class="s3">&quot;#e50808&quot; </span><span class="s2">/&gt; 
 
    &lt;</span><span class="s4">Button</span><span class="s2"> 
        </span><span class="s1">style=</span><span class="s3">&quot;?android:attr/buttonStyleSmall&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
        </span><span class="s1">android:text=</span><span class="s3">&quot;@string/buttonSix&quot;</span><span class="s2"> 
        </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/button6&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_below=</span><span class="s3">&quot;@+id/button3&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_alignLeft=</span><span class="s3">&quot;@+id/button3&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_alignStart=</span><span class="s3">&quot;@+id/button3&quot;</span><span class="s2"> 
        </span><span class="s1">android:minWidth=</span><span class="s3">&quot;90dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:background=</span><span class="s3">&quot;#e50808&quot; </span><span class="s2">/&gt; 
 
    &lt;</span><span class="s4">Button</span><span class="s2"> 
        </span><span class="s1">style=</span><span class="s3">&quot;?android:attr/buttonStyleSmall&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
        </span><span class="s1">android:text=</span><span class="s3">&quot;@string/buttonSeven&quot;</span><span class="s2"> 
        </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/button7&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_below=</span><span class="s3">&quot;@+id/button4&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_alignLeft=</span><span class="s3">&quot;@+id/button4&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_alignStart=</span><span class="s3">&quot;@+id/button4&quot;</span><span class="s2"> 
        </span><span class="s1">android:minWidth=</span><span class="s3">&quot;90dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:background=</span><span class="s3">&quot;#e50808&quot; </span><span class="s2">/&gt; 
 
    &lt;</span><span class="s4">Button</span><span class="s2"> 
        </span><span class="s1">style=</span><span class="s3">&quot;?android:attr/buttonStyleSmall&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
        </span><span class="s1">android:text=</span><span class="s3">&quot;@string/buttonEight&quot;</span><span class="s2"> 
        </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/button8&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_below=</span><span class="s3">&quot;@+id/button5&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_toLeftOf=</span><span class="s3">&quot;@+id/button3&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_toStartOf=</span><span class="s3">&quot;@+id/button3&quot;</span><span class="s2"> 
        </span><span class="s1">android:minWidth=</span><span class="s3">&quot;90dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:background=</span><span class="s3">&quot;#e50808&quot; </span><span class="s2">/&gt; 
 
    &lt;</span><span class="s4">Button</span><span class="s2"> 
        </span><span class="s1">style=</span><span class="s3">&quot;?android:attr/buttonStyleSmall&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
        </span><span class="s1">android:text=</span><span class="s3">&quot;@string/buttonNine&quot;</span><span class="s2"> 
        </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/button9&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_below=</span><span class="s3">&quot;@+id/button6&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_alignLeft=</span><span class="s3">&quot;@+id/button6&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_alignStart=</span><span class="s3">&quot;@+id/button6&quot;</span><span class="s2"> 
        </span><span class="s1">android:minWidth=</span><span class="s3">&quot;90dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:background=</span><span class="s3">&quot;#e50808&quot; </span><span class="s2">/&gt; 
 
    &lt;</span><span class="s4">Button</span><span class="s2"> 
        </span><span class="s1">style=</span><span class="s3">&quot;?android:attr/buttonStyleSmall&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
        </span><span class="s1">android:text=</span><span class="s3">&quot;@string/buttonZero&quot;</span><span class="s2"> 
        </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/button0&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_below=</span><span class="s3">&quot;@+id/button7&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_alignLeft=</span><span class="s3">&quot;@+id/button7&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_alignStart=</span><span class="s3">&quot;@+id/button7&quot;</span><span class="s2"> 
        </span><span class="s1">android:minWidth=</span><span class="s3">&quot;90dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:background=</span><span class="s3">&quot;#e50808&quot; </span><span class="s2">/&gt; 
 
    &lt;</span><span class="s4">Button</span><span class="s2"> 
        </span><span class="s1">style=</span><span class="s3">&quot;?android:attr/buttonStyleSmall&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
        </span><span class="s1">android:text=</span><span class="s3">&quot;@string/buttonClean&quot;</span><span class="s2"> 
        </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/buttonCln&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_below=</span><span class="s3">&quot;@+id/button8&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_alignLeft=</span><span class="s3">&quot;@+id/button8&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_alignStart=</span><span class="s3">&quot;@+id/button8&quot;</span><span class="s2"> 
        </span><span class="s1">android:minWidth=</span><span class="s3">&quot;90dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:background=</span><span class="s3">&quot;#e50808&quot; </span><span class="s2">/&gt; 
 
    &lt;</span><span class="s4">Button</span><span class="s2"> 
        </span><span class="s1">style=</span><span class="s3">&quot;?android:attr/buttonStyleSmall&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
        </span><span class="s1">android:text=</span><span class="s3">&quot;@string/buttonEquals&quot;</span><span class="s2"> 
        </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/buttonEqu&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_below=</span><span class="s3">&quot;@+id/button9&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_alignLeft=</span><span class="s3">&quot;@+id/button9&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_alignStart=</span><span class="s3">&quot;@+id/button9&quot;</span><span class="s2"> 
        </span><span class="s1">android:minWidth=</span><span class="s3">&quot;90dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:background=</span><span class="s3">&quot;#e50808&quot; </span><span class="s2">/&gt; 
 
    &lt;</span><span class="s4">Button</span><span class="s2"> 
        </span><span class="s1">style=</span><span class="s3">&quot;?android:attr/buttonStyleSmall&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
        </span><span class="s1">android:text=</span><span class="s3">&quot;@string/buttonAddition&quot;</span><span class="s2"> 
        </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/buttonAdd&quot;</span><span class="s2"> 
        </span><span class="s1">android:minWidth=</span><span class="s3">&quot;90dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_below=</span><span class="s3">&quot;@+id/button0&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_alignParentLeft=</span><span class="s3">&quot;true&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_alignParentStart=</span><span class="s3">&quot;true&quot;</span><span class="s2"> 
        </span><span class="s1">android:background=</span><span class="s3">&quot;#e50808&quot; </span><span class="s2">/&gt; 
 
    &lt;</span><span class="s4">Button</span><span class="s2"> 
        </span><span class="s1">style=</span><span class="s3">&quot;?android:attr/buttonStyleSmall&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
        </span><span class="s1">android:text=</span><span class="s3">&quot;@string/buttonSubtraction&quot;</span><span class="s2"> 
        </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/buttonSub&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_alignTop=</span><span class="s3">&quot;@+id/buttonAdd&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_toRightOf=</span><span class="s3">&quot;@+id/button0&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_toEndOf=</span><span class="s3">&quot;@+id/button0&quot;</span><span class="s2"> 
        </span><span class="s1">android:minWidth=</span><span class="s3">&quot;90dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:background=</span><span class="s3">&quot;#e50808&quot; </span><span class="s2">/&gt; 
 
    &lt;</span><span class="s4">Button</span><span class="s2"> 
        </span><span class="s1">style=</span><span class="s3">&quot;?android:attr/buttonStyleSmall&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
        </span><span class="s1">android:text=</span><span class="s3">&quot;@string/buttonMultiplication&quot;</span><span class="s2"> 
        </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/buttonMul&quot;</span><span class="s2"> 
        </span><span class="s1">android:minWidth=</span><span class="s3">&quot;90dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_alignTop=</span><span class="s3">&quot;@+id/buttonSub&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_toRightOf=</span><span class="s3">&quot;@+id/buttonSub&quot;</span><span class="s2"> 
        </span><span class="s1">android:background=</span><span class="s3">&quot;#e50808&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_alignBottom=</span><span class="s3">&quot;@+id/buttonSub&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_alignRight=</span><span class="s3">&quot;@+id/editText&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_alignEnd=</span><span class="s3">&quot;@+id/editText&quot; </span><span class="s2">/&gt; 
 
    &lt;</span><span class="s4">Button</span><span class="s2"> 
        </span><span class="s1">style=</span><span class="s3">&quot;?android:attr/buttonStyleSmall&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
        </span><span class="s1">android:text=</span><span class="s3">&quot;@string/buttonDivide&quot;</span><span class="s2"> 
        </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/buttonDiv&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_alignTop=</span><span class="s3">&quot;@+id/buttonMul&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_alignLeft=</span><span class="s3">&quot;@+id/buttonEqu&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_alignStart=</span><span class="s3">&quot;@+id/buttonEqu&quot;</span><span class="s2"> 
        </span><span class="s1">android:minWidth=</span><span class="s3">&quot;90dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:background=</span><span class="s3">&quot;#e50808&quot; </span><span class="s2">/&gt; 
 
    &lt;</span><span class="s4">EditText</span><span class="s2"> 
        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
        </span><span class="s1">android:inputType=</span><span class="s3">&quot;number&quot;</span><span class="s2"> 
        </span><span class="s1">android:ems=</span><span class="s3">&quot;10&quot;</span><span class="s2"> 
        </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/editText&quot;</span><span class="s2"> 
        </span><span class="s1">android:background=</span><span class="s3">&quot;#aec0e5&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_marginTop=</span><span class="s3">&quot;70dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_alignParentTop=</span><span class="s3">&quot;true&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_centerHorizontal=</span><span class="s3">&quot;true&quot; </span><span class="s2">/&gt; 
&lt;/</span><span class="s4">RelativeLayout</span><span class="s2">&gt; 
</span></pre>
</body>
</html>